# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
qodana.yaml
node_modules
.DS_Store
dist
dist-ssr
coverage
components.d.ts
*.local
.env
# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/docgen.generated.ts
docs/reference
docs/all.md
.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vercel
.vercel
